body {
  background-color: #f5eaea;
  font-family: "Montserrat", sans-serif;
}

/* Containers */

.container-fluid {
  padding: 0 3%;
}

/* Navigation Bar */

.navbar {
  background-color: #5b5656;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 2rem;
}

.navbar-brand {
  font-family: Josefin Sans;
  font-size: 2rem;
}

/* Button */
.btn-primary,
.btn-primary:visited {
  background-color: #5abf71 !important;
  border: #5abf71 !important;
}

.btn-primary:hover {
  background-color: #40a558 !important;
  border: #40a558 !important;
}

.btn-primary:active {
  background-color: #328044 !important;
  border: #328044 !important;
}
