/* Navigation Bar */

.navbar {
  background-color: #5b5656;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 2rem;
}

.navbar-brand {
  font-family: Josefin Sans;
  font-size: 2rem;
}
