.card-signin {
  padding: 1.75rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-google:hover {
  color: white;
  background-color: #d33c30;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.btn-facebook:hover {
  color: white;
  background-color: #355089;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
